<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h2>User Registration</h2>

<div th:if="${error}" style="color: red;">
    <span th:text="${error}"></span>
</div>

<form method="POST" th:action="@{/register}" th:object="${user}">
    <label for="firstName">First Name:</label><br>
    <input type="text" id="firstName" th:field="*{firstName}" ><br><br>

    <label for="lastName">Last Name:</label><br>
    <input type="text" id="lastName" th:field="*{lastName}" ><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" th:field="*{email}" ><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" th:field="*{password}" ><br><br>

    <input type="submit" value="Register">
</form>

<p>Already have an account? <a th:href="@{/login}">Login here</a></p>
</body>
</html>